{% extends 'main/base.html' %}
{% block contect %}
<form method="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>
                    Добавить новый продукт
                </h2>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Добавить</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Версия</div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ forms.as_p }}
                {% endfor %}
            </div>

        </div>
    </div>
</form>
{% endblock %}